# Lab | Inferential statistics - T-test & P-value

#### One tailed t-test - 

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. 

To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. 

The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. 

Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
machine = {'New_machine':  ['42.1',
'41.0',
'41.3',
'41.8',
'42.4',
'42.8',
'43.2',
'42.3',
'41.8',
'42.7'],
        'Old_machine': ['42.7', '43.6', '43.8', '43.3', '42.5', '43.5', '43.1', '41.7', '44', '44.1'],
        }

machine2 = pd.DataFrame(machine)

In [3]:
machine2['New_machine'] = machine2['New_machine'].astype(float)
machine2['Old_machine'] = machine2['Old_machine'].astype(float)
machine2['New_machine'] = machine2['New_machine'].astype(int)
machine2['Old_machine'] = machine2['Old_machine'].astype(int)
machine2.dtypes

New_machine    int64
Old_machine    int64
dtype: object

In [4]:
print(machine2.Old_machine.mean())
print(machine2.New_machine.mean())

42.8
41.7

In [5]:
#for the single tailed experiment

#H0: mean speed of New_machine is >= mean speed of old Machine
#H1: mean of New_machine is < mean speed of old Machine

print('p value (single tailed): ',st.ttest_1samp(machine2,42.8)[1]/2)


#we reject the null hypothesis

#have reason to believe the average speed of the new machine is faster (takes less time) than the old machine

p value (single tailed):  [3.00059121e-04 5.00000000e-01]

In [ ]:
#These are independent samples, so use same test as AB testing example in class
#st.ttest_ind()

In [6]:
st.ttest_ind(machine2['New_machine'], machine2['Old_machine'], equal_var=False)

Ttest_indResult(statistic=-3.050851079238744, pvalue=0.007409761983657036)

Conclusion: yes, the New machine is faster, but not by much.

#### Matched Pairs Test - 
In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv).

Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. 

Our hypothesis is that the defense and attack scores are equal. 

Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [8]:
pokemon = pd.read_csv('/Users/hollydalton/Labs-Ironhack/lab-t-tests-p-values/files_for_lab/pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [9]:
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])
#H0: defense score = attack score
#H1: defense score != attack score 

#We must reject the null hypothesis. We reject that there is NO effect

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
#p-value is very small, therefore we reject the null hypothesis that defense score and attack score are equal

# Lab | Inferential statistics - ANOVA
Note: The following lab is divided in 2 sections.

### Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

    
#### Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. 
You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. 
Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. 
You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

In [ ]:
#State the null hypothesis
#State the alternate hypothesis

#H0: the means of the various groups are the same. 
#(changing the power of the plasma beam does not have an effect on the etching rate of the machine)

#H1: the means of the various groups are not the same
#(changing the power of the plasma beam DOES have an effect on the etching rate of the machine)

In [10]:
#What is the significance level?

# I see no reason to use a different significance level other than the usual .05

In [ ]:
#What are the degrees of freedom of model, error terms, and total DoF
#model error degrees of freedom = number of observations – number of parameters

#Degrees of freedom = 15 observations - 1 parameter = 14

We can calculate the model error degrees of freedom as follows: model error degrees of freedom = number of observations – number of parameters. model error degrees of freedom = 100 – 10,000. model error degrees of freedom = -9,900.

For example, we may have 50 independent samples and we wish to calculate a statistic of the sample, like the mean. All 50 samples are used in the calculation and there is one statistic, so the number of degrees of freedom for the mean, in this case, is calculated as:

degrees of freedom = number of independent values – number of statistics
degrees of freedom = 50 – 1
degrees of freedom = 49

In [ ]:
#Data was collected randomly and provided to you in the table as shown: link to the image - Data
#https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png

## Part 2

In this section, use the Python to conduct ANOVA.


What conclusions can you draw from the experiment and why?

In [20]:
df = pd.read_excel (r'/Users/hollydalton/Labs-Ironhack/lab-t-tests-p-values/files_for_lab/anova_lab_data.xlsx')
df

# iterating the columns
for col in df.columns:
    print(col)

Power
Etching Rate

In [22]:
df['Power ']  ##has an extra space! ugh

0     160 W
1     180 W
2     200 W
3     160 W
4     180 W
5     200 W
6     160 W
7     180 W
8     200 W
9     160 W
10    180 W
11    200 W
12    160 W
13    180 W
14    200 W
Name: Power , dtype: object

In [25]:
df['power_count'] = df.groupby('Power ').cumcount() ##is the new index 


df_pivot = df.pivot(index='power_count', columns='Power ', values='Etching Rate')
df_pivot.columns = ['Power_'+str(x) for x in df_pivot.columns.values]


df_pivot.rename(columns = {'Power_160 W' : 'Power_160', 'Power_180 W' : 'Power_180', 'Power_200 W': 'Power_200'}, inplace = True)
df_pivot

             Power_160  Power_180  Power_200
power_count
0                 5.43       6.24       8.79
1                 5.71       6.71       9.20
2                 6.22       5.98       7.90
3                 6.01       5.66       8.15
4                 5.59       6.60       7.55

In [ ]:
#so from each of the 3 powers, we have 5 observations  (15 observations total)

In [27]:
st.f_oneway(df_pivot['Power_160'],df_pivot.Power_180,df_pivot.Power_200)

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
#we have a very small pvalue below .05, 
#so we can reject the null hypothesis that the means of the various groups are the same
#In other words, changing the power of the plasma beam DOES have an effect on the etching rate of the machine